@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css);

body {
    @apply font-body text-base text-gray-700 leading-relaxed;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-display mb-4 text-gray-900 font-bold;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-base;
}

p {
    @apply mb-8;
}

blockquote {
    @apply my-6 px-8 py-8 bg-gray-100 text-gray-600 text-base font-display font-bold;

    p {
        @apply mb-0;
    }
}


a {
   color: theme('colors.purple');
   &:hover,
   &:focus {
       text-decoration: underline;
   }
}

nav, footer {
    a {
        &:hover,
        &:focus {
            @apply no-underline;
        }
    }
}

.container-inner {
    max-width: 1000px;
    margin: auto;
}